[data-ui-role=tabs] .tab-content > *:first-child {
  margin-top: 0;
}

[data-ui-role=tabs] > .tab > :is(h2, h3).tab-title {
  margin-block-end: 0;
}

[data-ui-role=tabs] > .tab:not(:first-child) {
  display: none;
}
