includes:
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: max
    paths:
        - src
    scanDirectories:
        - vendor/symfinity/ux-blocks/src
    reportUnmatchedIgnoredErrors: false
    bootstrapFiles:
        - phpstan-bootstrap.php
