includes:
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: max
    paths:
        - src
    scanDirectories:
        - ../ux-blocks/src
        - ../ui-kernel/src
    reportUnmatchedIgnoredErrors: false
    bootstrapFiles:
        - phpstan-bootstrap.php
