@use '../_shared/mixins' as mixins;
@use '../_shared/appearance-matrix' as am;

[data-ui-role='figure-caption'] [data-ui-role='typography'],
[data-ui-role='figure-caption'] [data-ui-role='link'] {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

[data-ui-role='figure-caption'] [data-ui-role='link'] {
  display: inline;
}

[data-ui-role='link'] {
  color: var(--ui-color-primary);
  text-decoration: underline;
  font-family: var(--ui-font-family-sans);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: var(--ui-space-sm);

  [data-ui-part='icon'] {
    @include mixins.icon-slot-inline(1em);
  }

  @include am.each-link-variant-appearance();
}
