{% set ratio = item.props.ratio|default('16/9') %}
<twig:AspectRatio ratio="{{ ratio }}">
    <div style="display:flex;align-items:center;justify-content:center;background:var(--ui-color-surface-elevated, #eee);height:100%;">{{ ratio }}</div>
</twig:AspectRatio>
