<twig:Accordion :type="'multiple'">
    <details open>
        <summary>Section one</summary>
        <p>Panel one</p>
    </details>
    <details open>
        <summary>Section two</summary>
        <p>Panel two</p>
    </details>
</twig:Accordion>
