<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UX Blocks Core Catalog</title>
</head>
<body>
    <main>
        <h1>UX Blocks Core Catalog</h1>
        {% include '@UxBlocksCore/catalog/_sections.html.twig' %}
    </main>
</body>
</html>
