<div
    data-ui-role="aspect-ratio"
    data-ui-fragment="blocks.aspect-ratio"
    data-ui-ratio="{{ ratio }}"
    style="aspect-ratio: {{ ratioCss }};"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>