<span
    data-ui-role="avatar"
    data-ui-fragment="blocks.avatar"
    {% if variant is not empty and variant != 'default' %}data-ui-variant="{{ variant }}"{% endif %}
    data-ui-size="{{ size }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</span>