<span
    data-ui-role="avatar"
    data-ui-fragment="blocks.avatar"
    data-ui-variant="{{ variant }}"
    data-ui-size="{{ size }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</span>