<span
    data-ui-role="badge"
    data-ui-fragment="blocks.badge"
    {% if variant is not empty and variant != 'default' %}data-ui-variant="{{ variant }}"{% endif %}
    {{ attributes }}
>
    {% block content %}{% endblock %}
</span>