<span
    data-ui-role="badge"
    data-ui-fragment="blocks.badge"
    data-ui-variant="{{ variant }}"
    data-ui-size="{{ size }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</span>
