<a
    data-ui-role="link"
    data-ui-fragment="blocks.link"
    href="{{ href }}"
    data-ui-variant="{{ variant }}"
    data-ui-appearance="{{ appearance }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</a>
