<div
    data-ui-role="radio-group"
    data-ui-fragment="blocks.radio-group"
    role="radiogroup"
    {% if orientation == 'horizontal' %}data-ui-orientation="horizontal"{% endif %}
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
