{% if label %}
<label>
    <span>{{ label }}</span>
{% endif %}
<select
    data-ui-role="select"
    data-ui-fragment="blocks.select"
    data-ui-size="{{ size }}"
    {% if invalid %}aria-invalid="true" data-ui-state="invalid"{% endif %}
    {% if disabled %}disabled data-ui-state="disabled"{% endif %}
    {{ attributes }}
>
    {% block content %}{% endblock %}
</select>
{% if label %}
</label>
{% endif %}
