<div
    data-ui-role="separator"
    data-ui-fragment="blocks.separator"
    data-ui-orientation="{{ orientation }}"
    role="{{ decorative ? 'none' : 'separator' }}"
    aria-orientation="{{ orientation }}"
    {{ attributes }}
></div>
