<div
    data-ui-orientation="{{ orientation }}"
    {% if orientation == 'vertical' %}data-ui-variant="vertical"{% endif %}
    role="{{ decorative ? 'none' : 'separator' }}"
    aria-orientation="{{ orientation }}"
    {{ attributes }}
></div>
