<span
    data-ui-role="skeleton"
    data-ui-fragment="blocks.skeleton"
    data-ui-variant="{{ variant }}"
    aria-hidden="true"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</span>
